<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/myaccount.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
</head>
  <body>
    <span>
      <a id="logout" href="/logout" class="btn btn-primary">Log out</a>
    </span>
    <form id="form" action="QuizTable.html">
      <div class="topnav">
        <a href="/home/<%=userid%>">HOME</a>
        <a href="/test/<%=userid%>">TEST</a>
        <a href="/result/<%=userid%>">RESULT</a>
        <a class="active" href="/myaccount/<%=userid%>">MY ACCOUNT</a>
      </div>
      <h1>My account</h1>
      <section>
        <div class="box">
          <div class="title">Username: </br> <strong style="font-size: large;"><%= data[0].student_code %> </strong></div>
          <div class="tag"><a href="/myaccount/<%=userid%>/updateusername"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
        </div>
        <div class="box">
          <div class="title">Password: </br> <input type="password" id="password" style="border: 0cap; font-size: large;" disabled name="password" value="<%= data[0].student_password %>"></div>
          <div class="tag"> <a href="/myaccount/<%=userid%>/updatepassword"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
        </div>
        <div class="box">
          <div class="title">First name: </br> <strong style="font-size: large;"><%= data[0].first_name %></strong> </div>
          <div class="tag"><a href="/myaccount/<%=userid%>/updatefirstname"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
        </div>
        <div class="box">
          <div class="title">Last name: </br> <strong style="font-size: large;"><%= data[0].last_name %></strong> </div>
          <div class="tag"><a href="/myaccount/<%=userid%>/updatelastname"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
        </div>
      </section>
      </div>
    </form>
  </body>
</html>
