<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/updatepassword.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
</head>
  <body>
    <span>
      <a id="logout" href="/logout" class="btn btn-primary">Log out</a>
    </span>
   
      <div class="topnav">
        <a href="/home/<%=userid%>">HOME</a>
        <a href="/test/<%=userid%>">TEST</a>
        <a href="/result/<%=userid%>">RESULT</a>
        <a class="active" href="/myaccount/<%=userid%>">MY ACCOUNT</a>
      </div>
      <h1>My account</h1>
      <section>
        <form method="POST" id="form" action="/myaccount/<%=userid%>/updatepassword">
        <div class="box">
          <div class="title"><label for="password">Password: </label></br> 
            <input type="text" id="password" name="password" pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,20}" required value="<%=data[0].student_password%>"> </strong></div>
            <p style="text-align: left; font-family: Arial, Helvetica, sans-serif; color: gray; font-size: small;" >Password must contain lowercase, uppercase letter and number, and 8-20 characters in length.</p>
         
            <div class="tag"> <button>Save</button></div>
        </div>
        
      </section>
      </div>
    </form>
  </body>
</html>